/* General Styles */
h1, h2, h3, h4, h5, h6 {}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}

a, a:active, a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
span, a, a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.section-head {
    margin-bottom: 20px;
}

.section-head h4 {
    position: relative;
    padding: 0;
    color: #084679;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size: 28px; 
    font-weight: 700;
    text-align: center;
    text-transform: none;
    margin-bottom: 20px; 
}

.section-head h4:before {
    content: '';
    width: 60px;
    height: 3px;
    background: #084679;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}

.section-head h4 span {
    font-weight: 700;
    padding-bottom: 5px;
    color: #2f2f2f;
}

p.service_text {
    color: #cccccc !important;
    font-size: 14px; 
    line-height: 24px; 
    text-align: center;
}

.section-head p, p.awesome_line {
    color: #818181;
    font-size: 14px; 
    line-height: 24px; 
    text-align: center;
}

.item {
    background: #fff;
    text-align: center;
    padding: 20px 15px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.07); 
    border-radius: 15px; 
    border: 4px solid rgba(0, 0, 0, 0.07);
    transition: all 0.3s ease; 
    margin: 10px auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.item:hover {
    background: #084679;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.item:hover .icon {
    background: #fff;
    border-radius: 10px;
}

.item:hover h6,
.item:hover p {
    color: #fff;
}
.item .icon {
    font-size: 30px; 
    margin: 0 auto 20px; 
    color: #084679;
    width: 90px; 
    height: 90px;
    line-height: 60px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item .feature_box_col_one {
    background: rgba(247, 198, 5, 0.20);
    color: #084679;
}

.item .feature_box_col_two {
    background: rgba(178, 235, 100, 0.15);
    color: #084679;
}

.item .feature_box_col_three {
    background: rgba(0, 147, 38, 0.15);
    color: #084679;
}

.item .feature_box_col_four {
    background: rgba(0, 108, 255, 0.15);
    color: #084679;
}

.item .feature_box_col_five {
    background: rgba(146, 39, 255, 0.15);
    color: #084679;
}

.item h6 {
    font-size: 18px; 
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px; 
    color: #2f2f2f;
}

.item p {
    font-size: 15px; 
    line-height: 24px; 
    color: #999999;
    margin-bottom: 20px;
}

.bg-gray {
    background-color: #f6f6f6;
}

.col-lg-4, .col-md-6, .col-sm-10 {
    display: flex;
    align-items: stretch;
}

@media (max-width: 768px) {
    .section-head h4 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .item {
        padding: 15px 15px !important; 
    }

    .item .icon {
        font-size: 25px;
        width: 80px;
        height: 80px; 
        line-height: 50px;
    }

    .item h6 {
        font-size: 20px !important; 
    }

    .item p {
        font-size: 15px !important; 
    }
    .choose_img{
        display: none;
    }
    .choose_title{
        text-align: center;
    }
    .choose_row{
        text-align: center;
    }
}

@media (max-width: 576px) {
    .section-head h4 {
        font-size: 20px; 
        margin-bottom: 10px; 
    }

    .item {
        padding: 10px 15px !important; 
    }

    .item .icon {
        font-size: 20px; 
        width: 80px;
        height: 80px; 
        line-height: 40px;
    }

    .item h6 {
        font-size: 18px !important; 
    }

    .item p {
        font-size: 15px !important;
    }
    .choose_img{
        display: none;
    }
    .choose_title{
        text-align: center;
    }
    .choose_row{
        text-align: center;
    }
}
